{% extends "job_table.html.template" %}

{% block Initialization %}
	<script type="text/javascript">
		$(document).ready(function()
		{
			$("#date_from").datepicker({
				altField: "#date_from_ts",
				altFormat: "@",
				defaultDate: "-365"
			});
			$("#date_to").datepicker({
				altField: "#date_to_ts",
				altFormat: "@",
				defaultDate: "-1"
			});

//			var day_ago = new Date(); day_ago.setDate(day_ago.getDate() - 1);
			var week_ago = new Date(); week_ago.setDate(week_ago.getDate() - 7);

			$("#date_from").datepicker('setDate', week_ago);
			$("#date_to").datepicker('setDate', new Date(new Date().getTime() + 24 * 60 * 60 * 1000));

			$("#tasks_table").tablesorter();
			init_tags();
			fill_form();

			$('#query_stat').toggle('hide');

			$('#hideshow').on('click', function(event)
			{
				$('#query_stat').toggle('show');
			});
		});

		function update_perf(id)
		{
			$.ajax({
				type: "POST",
				url: "/api/job/" + id + "/performance"
			});
		}

	</script>
{% endblock %}

{% block QueryForm %}
<div style="margin: 10px; float:left">
	<form id="query_form" style="display: inline-block;"  method="post">
		<table>
			<tr>
				<td>From:</td>
				<td>
					<input type="text" id="date_from"/>
					<input type="hidden" id="date_from_ts" name="date_from"/>
				</td>
				<td rowspan="2">
					<button id="query_button" type="submit">Query</button>
				</td>
			</tr>
			<tr>
				<td>To:</td>
				<td>
					<input type="text" id="date_to"/>
					<input type="hidden" id="date_to_ts" name="date_to"/>
				</td>
			</tr>
			<tr>
				<td>Accounts: </td>
				<td colspan="2">
					<input type=text size=40 id=accounts name=accounts placeholder="account1,account2"/>
				</td>
			</tr>
		</table>

		<ul id="req_tags"></ul>
		<ul id="opt_tags"></ul>
		<ul id="no_tags"></ul>
	</form>
</div>
{% endblock %}

{% block JobLink %}
	<td class="task_state_{{job.state}}">
		<a href="/jd/{{job.job_id}}" class="table_text">
			{{ job.job_id }}
		</a>
	</td>
{% endblock %}

{% block AccountLink %}
	<td class="table_text">
		<a href="/job_table/table?accounts={{job.account}}" class="table_text">
			{{ job.account }}
		</a>
	</td>
{% endblock %}

{% block ServiceColumn %}
	<td class="table_text">
		{% if performance["avg_cpu_user"] is none %}

			{% if job.t_end - job.t_start > app_config.monitoring.aggregation_interval * 3 %}
				<button id="update" onclick="update_perf({{job.id}});">Update</button>
			{% else %}
				<p>too short</p>
			{% endif %}

		{% endif %}
	</td>
{% endblock %}
