<!doctype html>

<html>
<head>
	<meta charset="utf-8">

	<title> {{ app_config.cluster.name }} tasks table</title>

	<link rel="stylesheet" type="text/css" href="/job_table/static/job_table.css">

	<link rel="stylesheet" type="text/css" href="/static/jquery/jquery.tagit.css">
	<link rel="stylesheet" type="text/css" href="/static/jquery/jquery-ui-1.11.4.css">

	<link rel="stylesheet" type="text/css" href="/static/tablesorter/blue/style.css">
</head>

<body>

	<script type="text/javascript" src="/static/jquery/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery-ui-1.11.4.min.js"></script>

	<script type="text/javascript" src="/static/tablesorter/jquery.tablesorter.min.js"></script>

	<script type="text/javascript" src="/static/jquery/tag-it.min.js"></script>

	<script type="text/javascript" src="/job_table/static/job_table.js"></script>

	<script type="text/javascript">
		$(document).ready(function()
		{
			$("#date_from").datepicker();
			$("#date_to").datepicker();

			$("#tasks_table").tablesorter();
			init_tags();
			fill_form();

			$('#query_stat').toggle('hide');

			$('#hideshow').on('click', function(event)
			{
				$('#query_stat').toggle('show');
        	});
		});

		function update_perf(id)
		{
			$.ajax({
				type: "POST",
				url: "/api/job/" + id + "/performance"
			});
		}
	</script>

	<h1> {{ app_config.cluster.name }} task table</h1>

	<form id="query_form" style="display: inline-block;">
		<table>
			<tr>
				<td>From:</td>
				<td><input type="text" id="date_from"></td>
				<td rowspan="2">
					<input id="query_button" type="button" value="Query" onclick="load_query();"/>
				</td>
			</tr>
			<tr>
				<td>To:</td>
				<td><input type="text" id="date_to"></td>
			</tr>
			<tr>
				<td>Accounts: </td>
				<td colspan="2">
					<input type=text size=40 id=accounts name=accounts placeholder="account1,account2">
				</td>
			</tr>
		</table>

		<ul id="req_tags"></ul>
		<ul id="opt_tags"></ul>
		<ul id="no_tags"></ul>
	</form>

	<div style="display: inline-block; vertical-align:top; float:right;">
		<p>Statistics for shown tasks:</p>

		<table border="1" style="text-align: center;">
			<tr>
				<td>Total cpu time (CPUh)</td>
				<td>{{ query_stat.cpu_h | float2 }}</td>
			</tr>

			<tr>
				<td>Total jobs</td>
				<td>{{ query_stat.count }}</td>
			</tr>

			<tr>
				<td>COMPLETED</td>
				<td>{{ query_stat.COMPLETED }}</td>
			</tr>

			<tr>
				<td>CANCELLED</td>
				<td>{{ query_stat.CANCELLED }}</td>
			</tr>

			<tr>
				<td>TIMEOUT</td>
				<td>{{ query_stat.TIMEOUT }}</td>
			</tr>

			<tr>
				<td>FAILED</td>
				<td>{{ query_stat.FAILED }}</td>
			</tr>

			<tr>
				<td>NODE_FAIL</td>
				<td>{{ query_stat.NODE_FAIL }}</td>
			</tr>
		</table>
	</div>

<table id="tasks_table" class="tablesorter" border="1">
	<thead>
		<tr>
			<th>id</th>
			<th>account</th>
			<th>t_start</th>
			<th>t_end</th>
			<th>state</th>
			<th>cores_hours</th>
			<th>num_cores</th>
			<th>duration</th>
			<th>partition</th>

			{% for sensor in app_config.monitoring["DISPLAY_SENSOR_LIST"] %}
				<th> {{ sensor | replace("avg_", "") }} </th>
			{% endfor %}
		</tr>
	</thead>

	<tbody>
		{% for job, _, performance in jobs %}
			<tr>
				<td class="task_state_{{job.state}}">
					<a href="/jd/{{job.job_id}}" class="table_text">
						{{ job.job_id }}
					</a>
				</td>

				<td class="table_text">
					<a href="/job_table/table?accounts={{job.account}}" class="table_text">
						{{ job.account }}
					</a>
				</td>

				<td class="table_text"> {{ job.t_start | ts2datetime }} </td>
				<td class="table_text"> {{ job.t_end | ts2datetime }} </td>
				<td class="table_text"> {{ job.state }} </td>
				<td class="table_text"> {{ ((job.t_end - job.t_start) * job.num_cores / 3600) | float2 }} </td>
				<td class="table_text"> {{ job.num_cores }} </td>
				<td class="table_text"> {{ ((job.t_end - job.t_start) / 60) | float2 }} </td>
				<td class="table_text"> {{ job.partition }} </td>

				{% for sensor in app_config.monitoring.DISPLAY_SENSOR_LIST %}
					<td  style="background-color: {{ get_color(sensor, performance[sensor]) }}" class="sensor_text" >
						{{ performance[sensor] | float2 }}
					</td>
				{% endfor %}

				<td class="table_text">
					{% if performance["avg_cpu_user"] is none %}

						{% if job.t_end - job.t_start > app_config.general.aggregation_interval * 3 %}
							<button id="update" onclick="update_perf({{job.id}});">Update</button>
						{% else %}
							<p>too short</p>
						{% endif %}

					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>

</table>

{% if prev_page %}
<a href="{{ prev_page }}"><< Prev </a>
{% endif %}

<a href="{{ next_page }}">Next >> </a>
