<!doctype html>

<html>
<head>
	<meta charset="utf-8">

	<title> {{ app_config.cluster.name }} queued tasks table</title>

	<link rel="stylesheet" type="text/css" href="/job_table/static/job_table.css">

	<link rel="stylesheet" type="text/css" href="/static/jquery/jquery.tagit.css">
	<link rel="stylesheet" type="text/css" href="/static/jquery/jquery-ui-1.11.4.css">

	<link rel="stylesheet" type="text/css" href="/static/tablesorter/blue/style.css">
</head>

<body>

	<script type="text/javascript" src="/static/jquery/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery-ui-1.11.4.min.js"></script>

	<script type="text/javascript" src="/static/tablesorter/jquery.tablesorter.min.js"></script>

	<script type="text/javascript" src="/static/jquery/tag-it.min.js"></script>

	<script type="text/javascript" src="/job_table/static/job_table.js"></script>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script type="text/javascript">
		$(document).ready(function()
		{
			$("#date_from").datepicker({
				altField: "#date_from_ts",
				altFormat: "@",
				defaultDate: "-365"
			});
			$("#date_to").datepicker({
				altField: "#date_to_ts",
				altFormat: "@",
				defaultDate: "-1"
			});

//			var day_ago = new Date(); day_ago.setDate(day_ago.getDate() - 1);
			var week_ago = new Date(); week_ago.setDate(week_ago.getDate() - 7);

			$("#date_from").datepicker('setDate', week_ago);
			$("#date_to").datepicker('setDate', new Date(new Date().getTime() + 24 * 60 * 60 * 1000));

			init_tags();
			fill_form();

			$('#query_stat').toggle('hide');

			$('#hideshow').on('click', function(event)
			{
				$('#query_stat').toggle('show');
			});
		});
	</script>

    <script type="text/javascript">
		$(document).ready(function()
		{
			google.charts.load('current', {'packages':['timeline']});
			google.charts.setOnLoadCallback(drawChart);

			function drawChart() {
				var container = document.getElementById('timeline');
				var chart = new google.visualization.Timeline(container);
				var dataTable = new google.visualization.DataTable();

				dataTable.addColumn({ type: 'string', id: 'account' });
				dataTable.addColumn({ type: 'string', id: 'num_nodes' });
				dataTable.addColumn({ type: 'string', role: 'tooltip' });
				dataTable.addColumn({ type: 'date', id: 't_submit' });
				dataTable.addColumn({ type: 'date', id: 't_start' });

				dataTable.addRows([
					{% for job, _, performance in jobs %}
						 ["{{ job.account }}"
							, "{{ job.num_nodes }}"
							, "JobId: {{job.job_id}}   " + "Submit: {{job.t_submit | ts2datetime}}   " + "Duration: {{ "{:.1f}".format((job.t_start - job.t_submit) / 3600) }} hours"
							, new Date({{ job.t_submit }} * 1000), new Date({{ job.t_start }} * 1000)],
					{% endfor %}
				]);

				var options = {
					timeline: {
						groupByRowLabel: true,
					}
		            , hAxis: { format: 'yyy/MM/dd' } // 'dd/MM/yyyy HH:mm'
				};

				chart.draw(dataTable, options);
			}
		});
	</script>

	<h1> {{ app_config.cluster.name }} job timeline</h1>

	<div>
		<div style="margin: 10px; float:left">
			<form id="query_form" style="display: inline-block;"  method="post">
				<table>
					<tr>
						<td>From:</td>
						<td>
							<input type="text" id="date_from"/>
							<input type="hidden" id="date_from_ts" name="date_from"/>
						</td>
						<td rowspan="2">
							<button id="query_button" type="submit">Query</button>
						</td>
					</tr>
					<tr>
						<td>To:</td>
						<td>
							<input type="text" id="date_to"/>
							<input type="hidden" id="date_to_ts" name="date_to"/>
						</td>
					</tr>
					<tr>
						<td>Accounts: </td>
						<td colspan="2">
							<input type=text size=40 id=accounts name=accounts placeholder="account1,account2"/>
						</td>
					</tr>
				</table>

				<ul id="req_tags"></ul>
				<ul id="opt_tags"></ul>
				<ul id="no_tags"></ul>
			</form>
		</div>

		<div style="display:inline-block; margin: 10px">
			<p>Statistics for shown tasks:</p>

			<table border="1">
				<tr>
					<td>Total cpu time (CPUh)</td>
					<td>{{ query_stat.cpu_h | float2 }}</td>
				</tr>

				<tr>
					<td>Total jobs</td>
					<td>{{ query_stat.count }}</td>
				</tr>

				<tr>
					<td>COMPLETED</td>
					<td>{{ query_stat.COMPLETED }}</td>
				</tr>

				<tr>
					<td>CANCELLED</td>
					<td>{{ query_stat.CANCELLED }}</td>
				</tr>

				<tr>
					<td>TIMEOUT</td>
					<td>{{ query_stat.TIMEOUT }}</td>
				</tr>

				<tr>
					<td>FAILED</td>
					<td>{{ query_stat.FAILED }}</td>
				</tr>

				<tr>
					<td>NODE_FAIL</td>
					<td>{{ query_stat.NODE_FAIL }}</td>
				</tr>
			</table>
		</div>
	</div>

	<p>	</p>

	<div id="timeline" style="height: 2048px;"></div>

</body>
</html>
