astroid
cachetools
click
coverage
dotmap
Flask>=1.0.0
Flask-SQLAlchemy
gunicorn
h5py
image
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
numpy
opencv-python
pika
Pillow
pkg-resources
psycopg2
psycopg2-binary
pylint
pymongo
pytz
six
SQLAlchemy
torch
torchvision
typing
Werkzeug>=0.15.0
wrapt

