<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/data.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/heatmap.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript" src="/jd/static/heatmap.js"></script>

<script type="text/javascript" src="/static/jquery/jquery-1.9.1.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		var min_data = [];
		var max_data = [];
		var avg_data = [];

		{% for time, node_id, min_value, max_value, avg_value in display_data %}
			min_data.push([{{time}}, {{node_id}}, {{min_value}}]);
			max_data.push([{{time}}, {{node_id}}, {{max_value}}]);
			avg_data.push([{{time}}, {{node_id}}, {{avg_value}}]);
		{% endfor %}

		draw_heatmap("container_min", min_data, "Min", {{data_max_value}}, {{data_step}});
		draw_heatmap("container_max", max_data, "Max", {{data_max_value}}, {{data_step}});
		draw_heatmap("container_avg", avg_data, "Average", {{data_max_value}}, {{data_step}});
	});
</script>

<div id="container_min" style="height: 320px; width: 1000px; margin: 0 auto"></div>
<div id="container_max" style="height: 320px; width: 1000px; margin: 0 auto"></div>
<div id="container_avg" style="height: 320px; width: 1000px; margin: 0 auto"></div>

