<!doctype html>

<html>
<head>
	<meta charset="utf-8">

	<title>Task Job Digest</title>

	<link rel="stylesheet" type="text/css" href="/static/jquery/jquery.datetimepicker.css"/>
	<link rel="stylesheet" type="text/css" href="/static/jquery/jquery-ui-1.11.4.css">
	<link rel="stylesheet" type="text/css" href="/static/jquery/jquery.tagit.css"/>
</head>

<body>
	<script type="text/javascript" src="/static/jquery/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery-ui-1.11.4.min.js"></script>

	<script type="text/javascript" src="/static/jquery/tag-it.min.js"></script>

	<script type="text/javascript" src="/jd/static/jd.js"></script>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(google_callback_wrapper);

		function google_callback_wrapper() {
			LoadData( {{ job.id }}, true);
		}

		$(document).ready(function() {
			FillTags({{ job.id }});

		ApplyToggle();
		});
	</script>

	<table>
		<tr valign="top">
			<td valign="top" style="width:400pt;">
				<table border="1" cellpadding="5">
					<tr>
						<td>job id</td>
						<td> {{ job.job_id }} </td>
					</tr>
					<tr>
						<td>account</td>
						<td><a href=""> {{ job.account }} </a></td>
					</tr>
					<tr>
						<td>command</td>
						<td> {{ job.command }} </td>
					</tr>
					<tr>
						<td>workdir</td>
						<td> {{ job.workdir }} </td>
					</tr>
					<tr>
						<td>slurm-out</td>
						<td> {{ job.workdir }}/slurm-{{ job.job_id }}.out</td>
					</tr>

					<tr>
						<td>partition</td>
						<td> {{ job.partition }} </td>
					</tr>
					<tr>
						<td>timelimit(min)</td>
						<td> {{ job.timelimit }} </td>
					</tr>
					<tr>
						<td>submit</td>
						<td> {{ job.t_submit | ts2datetime }} ( {{ job.t_submit }} ) </td>
					</tr>
					<tr>
						<td>start</td>
						<td> {{ job.t_start | ts2datetime }} ( {{ job.t_start }} ) </td>
					</tr>
					<tr>
						<td>end</td>
						<td> {{ job.t_end | ts2datetime }} ( {{ job.t_end }} ) </td>
					</tr>
					<tr>
						<td>duration (minutes)</td>
						<td> {{ "{:.1f}".format((job.t_end - job.t_start) / 60) }} </td>
					</tr>
					<tr>
						<td>number of cores</td>
						<td> {{ job.num_cores }} </td>
					</tr>
					<tr>
						<td>number of nodes</td>
						<td> {{ job.num_nodes }} </td>
					</tr>
					<tr>
						<td>number of cores * hours</td>
						<td> {{ (1.0 * (job.t_end - job.t_start) / 3600 * job.num_cores) | float2 }} </td>
					</tr>

					<tr>
						<td colspan="2"> {{ job.nodelist }} </td>
					</tr>

				</table>

				<ul id="jd_tags"></ul>

			</td>

			<td valign="top">
				<table border="1" cellpadding="5">
					{% for key in monitoring["avg"].keys()|sort %}
						<tr>
							<td> {{ key }} </td>
							<td style="background-color: {{ get_color(key, monitoring['avg'][key]) }} ">
								{{ monitoring["avg"][key]| float2  }}
							</td>
						</tr>
					{% endfor %}
				</table>
			</td>

			<td valign="top">
				<table border="1" cellpadding="5">
					{% for key in monitoring["max"].keys()|sort %}
						<tr>
							<td> {{ key }} </td>
							<td style="background-color: {{ get_color(key, monitoring['max'][key]) }} ">
								{{ monitoring["max"][key]| float2  }}
							</td>
						</tr>
					{% endfor %}
				</table>
			</td>

			<td valign="top">
				<table border="1" cellpadding="5">
					{% for key in monitoring["min"].keys()|sort %}
						<tr>
							<td> {{ key }} </td>
							<td style="background-color: {{ get_color(key, monitoring['min'][key]) }} ">
								{{ monitoring["min"][key] | float2 }} </td>
						</tr>
					{% endfor %}
				</table>
			</td>

			<td valign="top">
				<table border="1" cellpadding="5">
					{% for key in derivative.keys()|sort %}
						<tr>
							<td> {{ key }} </td>
							<td> {{ derivative[key] | float2 }} </td>
						</tr>
					{% endfor %}
				</table>
			</td>

		</tr>
	</table>

	<p>
		<span style="color: red; font-size: x-large; ">Keep in mind 5-min approximation: average data and graphs for small tasks may be very
			inaccurate.</span>
	</p>

	<h2>Big tasks may require up to half minute to load, be patient.</h2>

	<h3>General information: <input type="button" value="Click to show details" onclick="ToggleInfo();"></h3>

	<div class="info"><p>
		All processor counters (CPU user load, CPU flops, l1 miss, l3 miss, mem_load, mem_store) are gatherd from each core by monitoring agents. Then processor counters from all cores are mixed together to calculate minimum, maximum and average value withhin every 300 seconds interval.<br />

		Visual graphics are calculated as follows:
		'min' graphs - Minimum accross all minimal values from all nodes for the interval<br />
		'max' graphs - Maximum accross all maximal values from all nodes for the interval<br />
		'avg' graphs - Average accross all average values from all nodes for the interval<br />
		'avg_min' graphs - Average accross all minimum values from all nodes for the interval<br />
		'avg_max' graphs - Average accross all maximum values from all nodes for the interval<br />

		sql: SELECT time, MIN(min) as min, MAX(max) as max, AVG(min) as avg_min, AVG(max) as avg_max, AVG(avg) as avg from
		{0} WHERE time > t_start + 300 AND time < t_end - 300 AND node_id in ({1}) GROUP BY time ORDER BY time;
	</p></div>

	<input type="button" value="show/hide all graphs" onclick="ToggleAll();">

	<h1>CPU user load</h1>
	<div id="cpu_user" class="graph"></div>
	<div class="info"><p>
		CPU user load, minimum 0, max 100
		<br />
		Percent of time a core was busy with user task (not including io/system work and so on)
	</p></div>

	<h1>GPU load</h1>
	<div id="gpu_load" class="graph"></div>
	<div class="info"><p>
		GPU load in percent, as reported by NVML<br />
	</p></div>

	<h1>GPU mem load</h1>
	<div id="gpu_mem_load" class="graph"></div>
	<div class="info"><p>
		GPU memory load in percent, as reported by NVML<br />
	</p></div>

	<h1>GPU mem used</h1>
	<div id="gpu_mem_usage" class="graph"></div>
	<div class="info"><p>
		GPU memory usage in MB<br />
	</p></div>

	<h1>l1 miss</h1>
	<div id="cpu_perf_l1d_repl" class="graph"></div>
	<div class="info"><p>
		CPU l1 cache miss counter<br />
		Config(2016.11.01): CPU_PERF_COUNTER01:0x0151<br />
		<br />
		L1D.REPL: Counts the number of lines brought into the L1 data cache.
	</p></div>

	<h1>l3 miss</h1>
	<div id="llc_miss" class="graph"></div>
	<div class="info"><p>
		CPU last level cache miss counter<br />
		Config(2016.11.01): CPU_PERF_FIXED01:0x412e<br />
		<br />
		LLC miss: Longest latency cache miss
	</p></div>

	<h1>mem_load</h1>
	<div id="mem_load" class="graph"></div>
	<div class="info"><p>
		All retired memory load uops(!), not ops.<br />
		Config(2016.11.01): CPU_PERF_COUNTER03:0x81D0 # MEM_UOPS_RETIRED.ALL_LOADS<br />
	</p></div>

	<h1>mem_store</h1>
	<div id="mem_store" class="graph"></div>
	<div class="info"><p>
		All retired memory store uops(!), not ops.<br />
		Config(2016.11.01): CPU_PERF_COUNTER04:0x82D0 # MEM_UOPS_RETIRED.ALL_STORE<br />
	</p></div>

	<h1>ib_rcv_data</h1>
	<div id="ib_rcv_data" class="graph"></div>
	<div class="info"><p>
		Infiniband recieved data in bytes
	</p></div>

	<h1>ib_xmit_data</h1>
	<div id="ib_xmit_data" class="graph"></div>
	<div class="info"><p>
		Infiniband sent data in bytes
	</p></div>

	<h1>ib_rcv_pckts</h1>
	<div id="ib_rcv_pckts" class="graph"></div>
	<div class="info"><p>
		Infiniband recieved data in packets
	</p></div>

	<h1>ib_xmit_pckts</h1>
	<div id="ib_xmit_pckts" class="graph"></div>
	<div class="info"><p>
		Infiniband sent data in packets
	</p></div>


	<h1>ib_rcv_data 2nd netwowrk</h1>
	<div id="ib_rcv_data2" class="graph"></div>
	<div class="info"><p>
		Infiniband recieved data in bytes
	</p></div>

	<h1>ib_xmit_data 2nd netwowrk</h1>
	<div id="ib_xmit_data2" class="graph"></div>
	<div class="info"><p>
		Infiniband sent data in bytes
	</p></div>

	<h1>ib_rcv_pckts 2nd netwowrk</h1>
	<div id="ib_rcv_pckts2" class="graph"></div>
	<div class="info"><p>
		Infiniband recieved data in packets
	</p></div>

	<h1>ib_xmit_pckts 2nd netwowrk</h1>
	<div id="ib_xmit_pckts2" class="graph"></div>
	<div class="info"><p>
		Infiniband sent data in packets
	</p></div>


	<h1>loadavg</h1>
	<div id="loadavg" class="graph"></div>
	<div class="info"><p>
		Average number of processes ready for execution for last minute.<br />
		see /proc/loadavg (http://man7.org/linux/man-pages/man5/proc.5.html)
	</p></div>

	<h1>CPU system load</h1>
	<div id="cpu_system" class="graph"></div>
	<div class="info"><p>
		Percent of time a core was busy in kernel space
		<br />
	</p></div>

	<h1>CPU iowait</h1>
	<div id="cpu_iowait" class="graph"></div>
	<div class="info"><p>
		CPU iowait load, minimum 0, max 100
		<br />
		Percent of time a core was idle due to waiting for IO operation to complete
	</p></div>

	<h1>CPU idle</h1>
	<div id="cpu_idle" class="graph"></div>
	<div class="info"><p>
		CPU idle load, minimum 0, max 100
		<br />
		Percent of time a core was in idle state
	</p></div>

	<h1>CPU nice load</h1>
	<div id="cpu_nice" class="graph"></div>
	<div class="info"><p>
		Percent of time a core was busy with nice(low priority) tasks
		<br />
	</p></div>

	<h1>CPU irq load</h1>
	<div id="cpu_irq" class="graph"></div>
	<div class="info"><p>
		CPU irq load, minimum 0, max 100
		<br />
		Percent of time a core was busy with hardware interrupts
	</p></div>

	<h1>CPU soft_irq load</h1>
	<div id="cpu_soft_irq" class="graph"></div>
	<div class="info"><p>
		CPU soft_irq load, minimum 0, max 100
		<br />
		Percent of time a core was busy with software interrupts
	</p></div>
</body>
</html>
