<!doctype html>

<html>
<head>
	<meta charset="utf-8">

	<title>Task Job Digest</title>

	<link rel="stylesheet" type="text/css" href="/static/jquery/jquery.datetimepicker.css"/>
	<link rel="stylesheet" type="text/css" href="/static/jquery/jquery-ui-1.11.4.css">
	<link rel="stylesheet" type="text/css" href="/static/jquery/jquery.tagit.css"/>
</head>

<body>
	<script type="text/javascript" src="/static/jquery/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery-ui-1.11.4.min.js"></script>

	<script type="text/javascript" src="/static/jquery/tag-it.min.js"></script>

	<script type="text/javascript" src="/jd/static/jd.js"></script>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(google_callback_wrapper);

		function google_callback_wrapper() {
			LoadData( {{ job.id }}, {{ app_config.monitoring.GENERAL_SENSOR_LIST | safe }});

			{% if job.partition in app_config.cluster.GPU_PARTITIONS %}
				LoadData( {{ job.id }}, {{ app_config.monitoring.GPU_SENSOR_LIST | safe }});
			{% endif %}

		}

		$(document).ready(function() {
			FillTags({{ job.id }});
			ApplyToggle();
		});
	</script>

	<table>
		<tr valign="top">
			<td valign="top" style="width:400pt;">
				<table border="1" cellpadding="5">
					<tr>
						<td>job id</td>
						<td> {{ job.job_id }} </td>
					</tr>
					<tr>
						<td>account</td>

						<td>{% block AccountLink scoped %}{% endblock %}</td>

					</tr>
					<tr>
						<td>command</td>
						<td> {{ job.command }} </td>
					</tr>
					<tr>
						<td>workdir</td>
						<td> {{ job.workdir }} </td>
					</tr>
					<tr>
						<td>slurm-out</td>
						<td> {{ job.workdir }}/slurm-{{ job.job_id }}.out</td>
					</tr>

					<tr>
						<td>partition</td>
						<td> {{ job.partition }} </td>
					</tr>
					<tr>
						<td>timelimit(min)</td>
						<td> {{ job.timelimit }} </td>
					</tr>
					<tr>
						<td>submit</td>
						<td> {{ job.t_submit | ts2datetime }} ( {{ job.t_submit }} ) </td>
					</tr>
					<tr>
						<td>start</td>
						<td> {{ job.t_start | ts2datetime }} ( {{ job.t_start }} ) </td>
					</tr>
					<tr>
						<td>end</td>
						<td> {{ job.t_end | ts2datetime }} ( {{ job.t_end }} ) </td>
					</tr>
					<tr>
						<td>state</td>
						<td> {{ job.state }} </td>
					</tr>
					<tr>
						<td>duration (minutes)</td>
						<td> {{ "{:.1f}".format((job.t_end - job.t_start) / 60) }} </td>
					</tr>
					<tr>
						<td>number of cores</td>
						<td> {{ job.num_cores }} </td>
					</tr>
					<tr>
						<td>number of nodes</td>
						<td> {{ job.num_nodes }} </td>
					</tr>
					<tr>
						<td>number of cores * hours</td>
						<td> {{ (1.0 * (job.t_end - job.t_start) / 3600 * job.num_cores) | float2 }} </td>
					</tr>

					<tr>
						<td colspan="2"> {{ job.nodelist }} </td>
					</tr>

				</table>

				{% block AdditionalUserInfo scoped %}{% endblock %}

			</td>

			<td valign="top">
				<table border="1" cellpadding="5">
					<tr><th></th><th>min</th><th>avg</th><th>max</th></tr>
					{% for sensor in app_config.monitoring.GENERAL_SENSOR_LIST %}
						<tr>
							<td> {{ app_config.monitoring.SENSOR_INFO[sensor][0] }} </td>
							<td style="background-color: {{ get_color(sensor, monitoring['min'][sensor]) }} ">
								{{ monitoring["min"][sensor]| float2  }}
							</td>
							<td style="background-color: {{ get_color(sensor, monitoring['avg'][sensor]) }} ">
								{{ monitoring["avg"][sensor]| float2  }}
							</td>
							<td style="background-color: {{ get_color(sensor, monitoring['max'][sensor]) }} ">
								{{ monitoring["max"][sensor]| float2  }}
							</td>
						</tr>
					{% endfor %}


					{% if job.partition in app_config.cluster.GPU_PARTITIONS %}
						{% for sensor in app_config.monitoring.GPU_SENSOR_LIST %}
							<tr>
								<td> {{ app_config.monitoring.SENSOR_INFO[sensor][0] }} </td>
								<td style="background-color: {{ get_color(sensor, monitoring['min'][sensor]) }} ">
									{{ monitoring["min"][sensor]| float2  }}
								</td>
								<td style="background-color: {{ get_color(sensor, monitoring['avg'][sensor]) }} ">
									{{ monitoring["avg"][sensor]| float2  }}
								</td>
								<td style="background-color: {{ get_color(sensor, monitoring['max'][sensor]) }} ">
									{{ monitoring["max"][sensor]| float2  }}
								</td>
							</tr>
						{% endfor %}
					{% endif %}

				</table>
			</td>

			<td valign="top">
				<table border="1" cellpadding="5">
					{% for key in metrics.keys()|sort %}
						<tr>
							<td> {{ key }} </td>
							<td> {{ metrics[key] | float2 }} </td>
						</tr>
					{% endfor %}
				</table>
			</td>

		</tr>
	</table>

	<p>
		<span style="color: red; font-size: x-large; ">Keep in mind {{app_config.monitoring.aggregation_interval}}-seconds
			approximation: average data and graphs for small tasks may be very inaccurate.</span>
		<p>Data for big tasks (1000+ points) are shrinked additionally.</p>
	</p>

	<h2>Big tasks may require up to half minute to load, be patient.</h2>

	<h3>General information: <input type="button" value="Click to show details" onclick="ToggleInfo();"></h3>

	<div class="info"><p>
		All processor counters (CPU user load, CPU flops, l1 miss, l3 miss, mem_load, mem_store) are gathered
		from each core by monitoring agents. Then processor counters from all cores are mixed together to calculate
		minimum, maximum and average value within every 300 seconds interval.<br />

		Visual graphics are calculated as follows:
		'min' graphs - Minimum accross all minimal values from all nodes for the interval<br />
		'max' graphs - Maximum accross all maximal values from all nodes for the interval<br />
		'avg' graphs - Average accross all average values from all nodes for the interval<br />
		'avg_min' graphs - Average accross all minimum values from all nodes for the interval<br />
		'avg_max' graphs - Average accross all maximum values from all nodes for the interval<br />

		sql: SELECT time, MIN(min) as min, MAX(max) as max, AVG(min) as avg_min, AVG(max) as avg_max, AVG(avg) as avg from
		{0} WHERE time > t_start + 300 AND time < t_end - 300 AND node_id in ({1}) GROUP BY time ORDER BY time;
	</p></div>

	<input type="button" value="show/hide all graphs" onclick="ToggleAll();">

	{% for sensor in app_config.monitoring.GENERAL_SENSOR_LIST %}
		<h1> {{ app_config.monitoring.SENSOR_INFO[sensor][0] }} </h1>
		<div id="{{sensor}}" class="graph"></div>
		<div class="info">
			<p>
				{{ app_config.monitoring.SENSOR_INFO[sensor][1] }}
			</p>
		</div>

		{% block HeatmapLink scoped %}{% endblock %}

	{% endfor %}

	{% if job.partition in app_config.cluster.GPU_PARTITIONS %}
		{% for sensor in app_config.monitoring.GPU_SENSOR_LIST %}
			<h1> {{ app_config.monitoring.SENSOR_INFO[sensor][0] }} </h1>
			<div id="{{sensor}}" class="graph"></div>
			<div class="info">
				<p>
					{{ app_config.monitoring.SENSOR_INFO[sensor][1] }}
				</p>
			</div>

        {% block HeatmapLinkGpu scoped %}{% endblock %}

		{% endfor %}
	{% endif %}


</body>
</html>
