<!doctype html>

<html>
<head>
	<meta charset="utf-8">

	<title>Charts preview</title>

	<link rel="stylesheet" href="/static/jquery/jquery-ui-1.11.4.css">
	<link rel="stylesheet" href="/job_stat/static/preset.css">
</head>

<body>
<script type="text/javascript" src="/static/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/jquery/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.csv.min.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript" src="/job_stat/static/job_stat.js"></script>
<script type="text/javascript" src="/job_stat/static/preset.js"></script>

<script type="text/javascript">
	function DrawCharts(num_cores, timezone_offset)
	{
		var midnight = (Date.now() - (Date.now()) % (86400 * 1000)) / 1000 + timezone_offset;
		var last_day = midnight - 60 * 60 * 24 * 1;
		var last_week = midnight - 60 * 60 * 24 * 7;
		var last_month = midnight - 60 * 60 * 24 * 30;
		var since_jan1 = (new Date(new Date().getFullYear(), 0, 1)) / 1000;

		DrawAvgWaitTime("#queue_avg_wait_time_by_day", last_week, midnight);

		DrawTopCpuh("#user_total_work_time", last_week, midnight);
		DrawTopCount("#user_total_tasks", last_week, midnight);

		DrawUsersCount("#users_by_day", last_week, midnight);

		ShowUsage("#task_total_cpu_1", last_day, midnight, num_cores);
		ShowUsage("#task_total_cpu_7", last_week, midnight, num_cores);
		ShowUsage("#task_total_cpu_30", last_month, midnight, num_cores);
		ShowUsage("#task_total_cpu_365", since_jan1, midnight, num_cores);

		ShowCompleted("completed_1", last_day, midnight);
		ShowCompleted("completed_7", last_week, midnight);
		ShowCompleted("completed_30", last_month, midnight);
		ShowCompleted("completed_365", since_jan1, midnight);

		ShowStarted("started_1", last_day, midnight);
		ShowStarted("started_7", last_week, midnight);
		ShowStarted("started_30", last_month, midnight);
		ShowStarted("started_365", since_jan1, midnight);

		ShowRunning("#avg_running_1", last_day, midnight);
		ShowRunning("#avg_running_7", last_week, midnight);
		ShowRunning("#avg_running_30", last_month, midnight);
		ShowRunning("#avg_running_365", since_jan1, midnight);

		ShowWaiting("#avg_waiting_1", last_day, midnight);
		ShowWaiting("#avg_waiting_7", last_week, midnight);
		ShowWaiting("#avg_waiting_30", last_month, midnight);
		ShowWaiting("#avg_waiting_365", since_jan1, midnight);

		ShowUserCount("#total_user_count_1", last_day, midnight);
		ShowUserCount("#total_user_count_7", last_week, midnight);
		ShowUserCount("#total_user_count_30", last_month, midnight);
		ShowUserCount("#total_user_count_365", since_jan1, midnight);

		ShowAvgCPU("#task_stat_avg_cpu_user_1", last_day, midnight);
		ShowAvgCPU("#task_stat_avg_cpu_user_7", last_week, midnight);
		ShowAvgCPU("#task_stat_avg_cpu_user_30", last_month, midnight);
		ShowAvgCPU("#task_stat_avg_cpu_user_365", since_jan1, midnight);

		ShowAvgWaitTime("#task_avg_waittime_1", last_day, midnight);
		ShowAvgWaitTime("#task_avg_waittime_7", last_week, midnight);
		ShowAvgWaitTime("#task_avg_waittime_30", last_month, midnight);
		ShowAvgWaitTime("#task_avg_waittime_365", since_jan1, midnight);

		var tags = ["cls_sc_appropriate","cls_not_communicative","cls_serial","cls_single","cls_suspicious"];

		for(var i = 0; i < tags.length; i++)
		{
			LoadTagStat(tags[i], "#"+tags[i] + "_1", last_day, midnight);
			LoadTagStat(tags[i], "#"+tags[i] + "_7", last_week, midnight);
			LoadTagStat(tags[i], "#"+tags[i] + "_30", last_month, midnight);
			LoadTagStat(tags[i], "#"+tags[i] + "_365", since_jan1, midnight);
		}
	}

	jQuery(document).ready(function() {
		google.charts.load('current', {'packages':['corechart', 'bar']});
		google.charts.setOnLoadCallback(
			function() {
				DrawCharts({{ app_config.cluster.num_cores }}, {{ app_config.general.timezone }} * 60 * 60);
			});
	});
</script>

<h1 style="color:green">General statistics of {{ app_config.cluster.name }}</h1>

<table>
	<tr>
		<th></th>
		<th><p class="text_day_ago">yesterday</p></th>
		<th><p class="text_week_ago">for last week</p></th>
		<th><p class="text_month_ago">for last month</p></th>
		<th><p class="text_year_ago">since 1 Jan</p></th>
	</tr>

	<tr>
		<td class="text_header">Completed jobs per day</td>
		<td class="text_day_ago"><span id="avg_completed_1"></span></td>
		<td class="text_week_ago"><span id="avg_completed_7"></span></td>
		<td class="text_month_ago"><span id="avg_completed_30"></span></td>
		<td class="text_year_ago"><span id="avg_completed_365"></span></td>
	</tr>
	<tr>
		<td class="text_header">Started jobs per day</td>
		<td class="text_day_ago"><span id="avg_started_1"></span></td>
		<td class="text_week_ago"><span id="avg_started_7"></span></td>
		<td class="text_month_ago"><span id="avg_started_30"></span></td>
		<td class="text_year_ago"><span id="avg_started_365"></span></td>
	</tr>
	<!--tr>
		<td class="text_header">Average running task count:</td>
		<td class="text_day_ago"><span id="avg_running_1"></span></td>
		<td class="text_week_ago"><span id="avg_running_7"></span></td>
		<td class="text_month_ago"><span id="avg_running_30"></span></td>
		<td class="text_year_ago"><span id="avg_running_365"></span></td>
	</tr>
	<tr>
		<td class="text_header">Average waiting task count:</td>
		<td style="text-align: right">N/A</td>
		<td class="text_week_ago"><span id="avg_waiting_7"></span></td>
		<td class="text_month_ago"><span id="avg_waiting_30"></span></td>
		<td class="text_year_ago"><span id="avg_waiting_365"></span></td>
	</tr-->

	<tr>
		<td colspan=5><p></p></td>
	</tr>

	<tr>
		<td class="text_header">Total started jobs</td>
		<td class="text_day_ago"><span id="total_started_1"></span></td>
		<td class="text_week_ago"><span id="total_started_7"></span></td>
		<td class="text_month_ago"><span id="total_started_30"></span></td>
		<td class="text_year_ago"><span id="total_started_365"></span></td>
	</tr>

	<tr>
		<td class="text_header">Total users</td>
		<td class="text_day_ago"><span id="total_user_count_1"></span></td>
		<td class="text_week_ago"><span id="total_user_count_7"></span></td>
		<td class="text_month_ago"><span id="total_user_count_30"></span></td>
		<td class="text_year_ago"><span id="total_user_count_365"></span></td>
	</tr>


</table>

<h1 style="color:green">Queues</h1>

<div>
	<h2>Average wait time in queues for started jobs</h2>

	<div id="queue_avg_wait_time_by_day"></div>
</div>

<div>
	<h2>Unique users, who completed a task in every queue</h2>

	<div id="users_by_day"></div>
</div>

<h1 style="color:green">User top</h1>

<div style='height: 700px'>
	<h2>Top 10 users by core*seconds time (single threaded jobs are treated as full node jobs) for last week</h2>

	<div>
		<div id="user_total_work_time"></div>
	</div>
</div>

<div style='height: 700px'>
	<h2>Top 10 users by completed jobs for last week</h2>

	<div id="user_total_tasks"></div>
</div>

<h1 style="color:red">New statistics</h1>

<table>
	<tr>
		<th></th>
		<th><p class="text_day_ago">yesterday</p></th>
		<th><p class="text_week_ago">for last week</p></th>
		<th><p class="text_month_ago">for last month</p></th>
		<th><p class="text_year_ago">since 1 Jan</p></th>
		<th></th>
	</tr>

	<tr>
		<td class="text_header">Completed jobs</td>
		<td class="text_day_ago"><span id="total_completed_1"></span></td>
		<td class="text_week_ago"><span id="total_completed_7"></span></td>
		<td class="text_month_ago"><span id="total_completed_30"></span></td>
		<td class="text_year_ago"><span id="total_completed_365"></span></td>
		<td class="stat_table_hint">Total completed jobs count</td>
	</tr>

	<tr>
		<td class="text_header">Task scheduling efficiency %</td>
		<td class="text_day_ago"><span id="task_total_cpu_1"></span></td>
		<td class="text_week_ago"><span id="task_total_cpu_7"></span></td>
		<td class="text_month_ago"><span id="task_total_cpu_30"></span></td>
		<td class="text_year_ago"><span id="task_total_cpu_365"></span></td>
		<td class="stat_table_hint">Ratio of maximum possible corehours to used corehours for interval</td>
	</tr>

	<tr>
		<td class="text_header">Average CPU load %</td>
		<td class="text_day_ago"><span id="task_stat_avg_cpu_user_1"></span></td>
		<td class="text_week_ago"><span id="task_stat_avg_cpu_user_7"></span></td>
		<td class="text_month_ago"><span id="task_stat_avg_cpu_user_30"></span></td>
		<td class="text_year_ago"><span id="task_stat_avg_cpu_user_365"></span></td>
		<td class="stat_table_hint">Average CPU User load for completed jobs</td>
	</tr>

	<tr>
		<td class="text_header">Average wait time(hours)</td>
		<td class="text_day_ago"><span id="task_avg_waittime_1"></span></td>
		<td class="text_week_ago"><span id="task_avg_waittime_7"></span></td>
		<td class="text_month_ago"><span id="task_avg_waittime_30"></span></td>
		<td class="text_year_ago"><span id="task_avg_waittime_365"></span></td>
		<td class="stat_table_hint">Average wait time in queue</td>
	</tr>

	<tr>
		<td colspan=6><p></p></td>
	</tr>

	<tr>
		<td class="text_header">Appropriate for SC</td>
		<td class="text_day_ago"> <span id="cls_sc_appropriate_1"></span></td>
		<td class="text_week_ago"> <span id="cls_sc_appropriate_7"></span></td>
		<td class="text_month_ago"> <span id="cls_sc_appropriate_30"></span></td>
		<td class="text_year_ago"> <span id="cls_sc_appropriate_365"></span></td>
		<td class="stat_table_hint">LA approximately equals to number of cores and high IB usage</td>
	</tr>

	<tr>
		<td class="text_header">Not communicative</td>
		<td class="text_day_ago"> <span id="cls_not_communicative_1"></span></td>
		<td class="text_week_ago"> <span id="cls_not_communicative_7"></span></td>
		<td class="text_month_ago"> <span id="cls_not_communicative_30"></span></td>
		<td class="text_year_ago"> <span id="cls_not_communicative_365"></span></td>
		<td class="stat_table_hint">Multinode task with low IB usage</td>
	</tr>

	<tr>
		<td class="text_header">Serial</td>
		<td class="text_day_ago"> <span id="cls_serial_1"></span></td>
		<td class="text_week_ago"> <span id="cls_serial_7"></span></td>
		<td class="text_month_ago"> <span id="cls_serial_30"></span></td>
		<td class="text_year_ago"> <span id="cls_serial_365"></span></td>
		<td class="stat_table_hint">1-core jobs</td>
	</tr>

	<tr>
		<td class="text_header">Single</td>
		<td class="text_day_ago"> <span id="cls_single_1"></span></td>
		<td class="text_week_ago"> <span id="cls_single_7"></span></td>
		<td class="text_month_ago"> <span id="cls_single_30"></span></td>
		<td class="text_year_ago"> <span id="cls_single_365"></span></td>
		<td class="stat_table_hint">1-node jobs</td>
	</tr>

	<tr>
		<td class="text_header">Suspicious</td>
		<td class="text_day_ago"> <span id="cls_suspicious_1"></span></td>
		<td class="text_week_ago"> <span id="cls_suspicious_7"></span></td>
		<td class="text_month_ago"> <span id="cls_suspicious_30"></span></td>
		<td class="text_year_ago"> <span id="cls_suspicious_365"></span></td>
		<td class="stat_table_hint">LA < 0.9 and CPU user load below threshold</td>
	</tr>
</table>

</body>
</html>
